<h1>Editing infoset</h1>

<%= error_messages_for :infoset %>

<% form_for(@infoset) do |f| %>
  <p>
    <b>Article</b><br />
    <%= f.text_field :article_id %>
  </p>

  <p>
    <b>Vendor</b><br />
    <%= f.text_field :vendor_id %>
  </p>

  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', @infoset %> |
<%= link_to 'Back', infosets_path %>
