<h1>Listing articles</h1>

<table>
  <tr>
    <th>Refnr</th>
    <th>Text</th>
    <th>Price</th>
    <th>Unit</th>
  </tr>

<% for article in @articles %>
  <tr>
    <td><%=h article.refnr %></td>
    <td><%=h article.text %></td>
    <td><%=h article.price %></td>
    <td><%=h article.unit_id %></td>
    <td><%= link_to 'Show', article %></td>
    <td><%= link_to 'Edit', edit_article_path(article) %></td>
    <td><%= link_to 'Destroy', article, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New article', new_article_path %>
