<h1>Artikel Übersicht</h1>

<table>
  <tr>
    <th>Refnr</th>
    <th>Text</th>
    <th>Preis</th>
    <th></th>
    <th>Einheit</th>
    <th>Lieferant</th>
  </tr>

<% for article in @articles %>
  <tr>
    <td><%=h article.refnr %></td>
    <td><%=h article.text %></td>
    <td><%=h article.price %></td>
    <td>pro</td>
    <td><%=h article.unit.name %></td>
    <td><%=h article.infoset.vendor.name %></td>
    <td><%#= link_to 'Show', article %></td>
    <td><%= link_to 'Bearbeiten', edit_article_path(article) %></td>
    <td><%= link_to 'Löschen', article, :confirm => 'Sind Sie sicher?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Artikel anlegen', new_article_path %>
