<h1>Abteilungen</h1>

<table>
  <tr>
    <th>Beschreibung</th>
    <th>Krankenhaus</th>
  </tr>

<% for department in @departments %>
  <tr>
    <td><%=h department.description %></td>
    <td><%=h department.hospital.name %></td>
    <td><%#= link_to 'Anzeigen', department %></td>
    <td><%= link_to 'Bearbeiten', edit_department_path(department) %></td>
    <td><%= link_to 'Löschen', department, :confirm => 'Sind Sie sicher?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Neue Abteilung anlegen', new_department_path %>
