<h1>Bestellungen</h1>

<table>
  <tr>
    <th>Lieferant</th>
    <th>Krankenhaus</th>
    <th>Abteilung</th>
  </tr>

<% for order in @orders %>
  <tr>
    <td><%=h order.vendor_id %></td>
    <td><%=h order.department.hospital.name %></td>
    <td><%=h order.department.description %></td>
    <td><%= link_to 'Anzeigen', order %></td>
    <td><%= link_to 'Bearbeiten', edit_order_path(order) %></td>
    <td><%= link_to 'Löschen', order, :confirm => 'Sind Sie sicher?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Neue Bestellung', new_order_path %>
