<h1>Neue Bestellung anlegen</h1>

<%= error_messages_for :order %>

<% form_for(@order) do |f| %>
  <p>
  <b>Lieferant</b><br />
    <%= f.collection_select :vendor_id, @vendors, :id, :id %>
  </p>

  <p>
    <b>Abteilung</b><br />
    <%= f.collection_select :department_id, @departments, :id, :description %>
  </p>

  <p>
    <%= f.submit "Anlegen" %>
  </p>
<% end %>

<%= link_to 'Zurück', orders_path %>
