<h1>Lieferant bearbeiten</h1>

<%= error_messages_for :vendor %>

<% form_for(@vendor) do |f| %>
  <p>
    <b>Name</b><br />
    <%= f.text_field :name %>
  </p>
  <p>
  <b>Adresse</b><br />
    <%= f.collection_select :address_id, @addresses, :id, :id %> 
  </p>

  <p>
    <%= f.submit "Aktualisieren" %>
  </p>
<% end %>

<%= link_to 'Anzeigen', @vendor %> |
<%= link_to 'Zurück', vendors_path %> |

<%= link_to 'Adresse bearbeiten', edit_address_path(@vendor.address) %> |
