<h1>Listing vendors</h1>

<table>
  <tr>
    <th>Address</th>
  </tr>

<% for vendor in @vendors %>
  <tr>
    <td><%=h vendor.address_id %></td>
    <td><%= link_to 'Details anzeigen', vendor %></td>
    <td><%= link_to 'Bearbeiten', edit_vendor_path(vendor) %></td>
    <td><%= link_to 'Löschen', vendor, :confirm => 'Sind Sie sicher?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Lieferanten anlegen', new_vendor_path %>
