<h1>Listing vendors</h1>

<table>
  <tr>
    <th>Address</th>
  </tr>

<% for vendor in @vendors %>
  <tr>
    <td><%=h vendor.address_id %></td>
    <td><%= link_to 'Show', vendor %></td>
    <td><%= link_to 'Edit', edit_vendor_path(vendor) %></td>
    <td><%= link_to 'Destroy', vendor, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New vendor', new_vendor_path %>
